body {
    background-color: ivory;
}



#title {
    text-align: center;
    background-color: lightblue;

}

#mainDiv {
    text-align: center;
}

#row1 {
    border-top: solid;
    border-width: 2pt;
}

#row2 {
    text-align: center;
    border-top: solid;
    border-width: 2pt;
}

#row3 {
    text-align: center;

}