#title {
    background-color: lightblue;
}

#title>h1 {
    font-family: 'Permanent Marker', cursive;
}


#nav {
    background-color: lightgray;
}

.btn1 {
    background-color: white;
}

.img1 {
    width: 80%
    
}

.img2 {
    width: 60%
}
