#title {
    background-color: lightblue;
    border-bottom:1em;
    max-width:100%;
}

header {
	background-color: lightgrey;
	border:2px solid black;
	text-align: center;
}

#stadiumHead {
	background-color: lightblue;
    border-bottom:1em;
    max-width:100%;
}

button {
	margin-top:1em;
	margin-bottom:1em;
}

h1 {
    font-family: 'Permanent Marker', cursive;
}

.Kalamazoo{
	width:100%;
}

#stadium {
	width:100%;
}

.row {
	align-content:center;
	max-width:100%;
	margin-bottom:1em;
}

#description {
	border:2px solid black;
	background-color:lightslategray;
}

h5 {
	font-style:italic;
}

body {
	background-color:lightblue;
}

footer {
	border:2px solid black;
}
