#title {
    background-color: lightblue;
    margin-bottom:3em;
}

#pageTitle {
    font-family: 'Permanent Marker', cursive;
}

.playerimg {
	transition-property:max-height,max-width;
	transition-duration:.5s;
	transition-timing-function:ease-out;
	max-height:150px;
	max-width:150px;
}

.playerNum {
	font-size:300%;
}
#roster {
	width:90%;
	margin-left:auto;
	margin-right:auto;
}

#return {
	margin-top:1em;
	margin-bottom:1em;
}

.playerimg:hover{
	transition-property:max-height,max-width;
	transition-duration:.5s;
	transition-timing-function:ease-out;
	max-height:300px;
	max-width:300px;
}

.small {
	width:1px;
}


.additional>div {
	display:none;
}

.additional:hover>div {
	display:block;
	font-size:65%;
	font-style:italic;
}

.career {
	font-size:80%;
}


body {
	background-image: url("../images/stadiumBackground.jpeg");
	background-color: #cccccc; /* Used if the image is unavailable */
    background-size: 100% 100%; 
    bottom-margin:2em;
}

td {
	border:3px solid darkgrey;
	border-collapse:collapse;
	text-align: center;
	padding:none;
}

tr>:nth-child(even) {
	background-color: lightgrey;
}


tr>:first-child>div {
	border-bottom:3px solid darkgrey; 
}

thead {
	display:table-header-group;
	border:1px solid black;
}

th {
	border:1px solid black;
	text-align: center;
}

table {
	border:6px solid darkolivegreen;
	background-color:floralwhite;
	margin-bottom:3em;
}

footer {
	background-color:lightblue;
	padding:1em;
}